






#Testimonials .carousel-indicators li 
{
  background:#607ebe ;
    border-radius: 50%;
    width: 6px;
    height: 1px;

}


.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}


  .quote-card {
  background: #fff;
  color: #222222;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
  position: relative;
  overflow: hidden;
  min-height: 120px;
}
.quote-card p {
  font-size: 22px;
  line-height: 1.5;
  margin: 0;
  max-width: 80%;
}
.quote-card cite {
  font-size: 16px;
  margin-top: 10px;
  display: block;
  font-weight: 200;
  opacity: 0.8;
}
 #header {
  height: 110px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled,
#header.header-pages {
  height: 70px;
  padding: 15px 0;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header.header-scrolled #topbar,
#header.header-pages #topbar {
  display: none;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .navbar-brand h1 a,
#header .navbar-brand h1 a:hover {
  color: #8ba1d0;
  text-align: center;
}

#header .navbar-nav img {
  padding: 0;
  margin: 7px 0;
  max-height: 26px;
}
@media screen and (max-width: 600px) {
  ul li.right, 
  ul li {float: none;}
}



.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
  text-decoration: none;
}

.main-nav a {
  display: block;
  position: relative;
  color:#282425;
 
  text-align: center;
  padding :15px;
  font-size: 14px;
  font-family: Courier 'Courier New', Courier, monospace;
  text-transform: uppercase;
  font-weight: 500;
}

.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
  
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 25px;
  background: #5777ba;
  text-decoration: none;
   
 
}




.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background:#607ebe ;
    border-radius: 50%;
    width: 6px;
    height: 1px;
}

.blog .carousel-indicators .active {
background: #607ebe;
}




#about .about-content h1 {
  color: #6781be;
  font-family: Courier 'Courier New', Courier, monospace;
  font-weight: 500;
}

#about.about-content p{
    font-family: Courier'Courier New', Courier, monospace;
}


#about .about-img {
  position: relative;
  margin: 30px 30px 30px 30px;
}

#about .about-img img {
  width: 100%;
  border: 8px solid #fff;
  transition: .5s;
}
#App-feature h2{
    color: #607ebe;
    text-align: center;
    font-style: bold;
  font-family: Courier 'Courier New', Courier, monospace;
  font-weight: 350;

}
#Icons h6{
  color:#656f85;
  font-family: Courier 'Courier New', Courier, monospace;
  
}
#Icons p{
  font-weight: lighter;
}
#Gallery h2{
  color: #607ebe;
  text-align: center;
  font-style: bold;
  font-family: Courier 'Courier New', Courier, monospace;
  font-weight: 350;
}
#Gallery p{
  text-align: center;
  font-family: Courier 'Courier New', Courier, monospace;
}

#Testimonials h2{
  color: #607ebe;
  text-align: center;
  font-style: bold;
  font-family: Courier 'Courier New', Courier, monospace;
  font-weight: 350;

}

#Testimonials p{
  text-align: center;
  font-family: Courier 'Courier New', Courier, monospace;
}
.section-header h2{
  color: #607ebe;
  text-align: center;
  font-style: bold;
  font-family: Courier 'Courier New', Courier, monospace;
  font-weight: 350;


}
#contact h2{
  color: #607ebe;
  text-align: center;
  font-style: bold;
  font-family: Courier 'Courier New', Courier, monospace;
  font-weight: 350;

}
#contact p{
  text-align: center;
  font-family: Courier 'Courier New', Courier, monospace;
}
#contact h6{
  color: black;
  text-align: center;
  font-style: bold;
  font-family: Courier 'Courier New', Courier, monospace;
  font-weight: 500;
}
.section-header p{
  text-align: center;
  font-family: Courier 'Courier New', Courier, monospace;
}
#pricing h4{
  color: #607ebe;
  text-align: center;
  font-style: bold;
  font-family: Courier 'Courier New', Courier, monospace;
  font-weight: 350;


} 
#pricing h3{
  color:  grey;
  text-align: center;
  font-style: bold;
  font-family: Courier 'Courier New', Courier, monospace;
  font-weight: 350;


} 
#pricing h5{
  color: #607ebe ;
  text-align: center;
  font-style: normal;
  font-family: Courier 'Courier New', Courier, monospace;
  font-weight: 250;


} 
#Subscribe h2{
  color: #607ebe;
  text-align: center;
  font-style: bold;
  font-family: Courier 'Courier New', Courier, monospace;
  font-weight: 350;

}
#Subscribe p {
  text-align: center;
  font-family: Courier 'Courier New', Courier, monospace;
}
#Links h1{
  
  font-size: 26px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;

}
#Links p{
  text-align: center;
  font-family: Courier 'Courier New', Courier, monospace;
}
#Links h3{
  color: black;
  text-align: center;
  font-size: larger;
  font-style: bold;
  font-family: Courier 'Courier New', Courier, monospace;
  font-weight: 150;
}
#Links  h1 a,
#Links  h1 a:hover {
  color: #8ba1d0;
  text-decoration: none;
}
#pricing p{
  text-align: center;
  font-family: Courier 'Courier New', Courier, monospace;
}
#faq h3{
  color: #607ebe;
  text-align: center;
  font-style: bold;
  font-family: Courier 'Courier New', Courier, monospace;
  font-weight: 350;

}

#faq {
  padding: 60px 0;
  overflow: hidden;
}

#faq #faq-list {
  padding: 0;
  list-style: none;
}

#faq #faq-list li {
  border-bottom: 1px solid #ebebeb;
}


#faq #faq-list a {
  padding: 22px 0;
  display: block;
  position: relative;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  padding-right: 20px;
}

#faq #faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 20px;
}

#faq #faq-list p {
  margin-bottom: 20px;
  text-align: center;
  color: #000;
  font-family: Courier 'Courier New', Courier, monospace;
  font-weight: 250;

}
#faq .card-header p:hover{
  color:#607ebe;
}

#faq .card-header p{
  color:black;
}

#faq #faq-list a.collapse {
  color: black;
 
}

#faq #faq-list a.collapsed {
  color: #000;
  text-align: left;
  font-family: Courier 'Courier New', Courier, monospace;
  font-weight: 250;

}

#faq #faq-list a.collapsed i::before {
  content: "\f2c7" !important;
}


.home-newsletter .single {
max-width: 650px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; }
.home-newsletter .single h2 {
font-size: 22px;
color: white;
text-transform: uppercase;
margin-bottom: 40px; }
#Subsribe .single .form-control {
height: 50px;
background: rgba(255, 255, 255, 0.6);
border-color: transparent;
border-radius: 20px 0 0 20px; }
#Subsribe .single .form-control:focus {
box-shadow: none;
border-color: #243c4f; }
#Subsribe .single .btn {
min-height: 50px; 
border-radius: 0 20px 20px 0;
background: #243c4f;
color: #fff;
}
.dot {
  height: 30px;
  width: 30px;
  color:white;
  background-color: #5777ba;
  border-radius: 50%;
  display: inline-block;
  align-content: center;
}

  ul.nav.nav-tabs > li{
    display: inline-block;
    line-height: 50px;
    height: 100%;
    text-transform:uppercase;
  }
  ul.nav.nav-tabs > li a{
    display:block;
    padding:15px;
    color: #5777ba!important;
    
  }
  ul.nav.nav-tabs > li a:hover, ul.nav.nav-tabs > li:hover{
    
    color:#5777ba;
    text-decoration: none!important;
  }
  ul.nav.nav-tabs > li a.active{
    background:	#282425;
    color:#fff!important;
    
  }
  .card-header {
      background-color: rgb(245,245,245,0.3)!important;
    border-radius:0!important;
  }
  .card{
  border-radius:0!important;
  }
  
  .card > .card-header a::before {
      font-family: fontawesome;
      content: "\f067 ";
      color: #282425;
      float: right;
      margin-right: 15px;
      font-weight: 400;
      position: absolute;
      right: 0;
  }




  #pricing .card {
    border: 0;
    border-radius: 0px;
    box-shadow: 0 3px 0px 0 rgba(65, 62, 102, 0.08);
    transition: all .3s ease-in-out;
    padding: 36px 0;
    position: relative;
  }
  
  #pricing .card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: #5777ba;
    transition: 0.5s;
  }
  #Gallery .img:hover{
   border-radius: 8px solid #5777ba;
   border-left: grey;
    
  }
  
  
  #pricing .card:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
  }
  
  #pricing .card:hover:after {
    width: 100%;
  }
  .testimonials {
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    display: block;
    width: 100%;
    min-height: 250px;
  }
  
  .testimonials ul {
    list-style: none;
    padding: 0;
  }
  .img-square-wrapper{
    height:200px;
    width:300px;
  }
  
 
  
  .testimonials li img {
    height: 50px;
    width: 50px;
    transform: translate(-80%, 50%);
    position: absolute;
    border-radius: 2px solid white;
    
    transition: box-shadow 0.3s linear;
  }
  
  .testimonials li p {
    
  text-align: center;
   padding-left: 30px;
  font-family: Courier 'Courier New', Courier, monospace; 
    font-size: 15px;
  }
  
  .testimonials li h5 {
   
    text-decoration: bold;
    bottom: 10px;
    
    font-size: 17px;
    color: black;
  text-align: center;
  font-style: bold;
  font-family: Courier 'Courier New', Courier, monospace;
  font-weight: 550;

  }
  
  
  
  
  
  @media only screen and (max-width: 860px) {
    .testimonials li {
      width: 70%;
      margin: auto;
      display: block;
      margin-top: 70px;
    }
    
    .testimonials li:first-child {
      margin-top: 50px;
    }
  }
  